body {
    background-image: url("../images/Game_Cover.png");
}

header {
    font-family: Algerian, sans-serif;
    text-align: center;
    margin-top: 5%;
    font-size: 30px;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    text-align: center;
    padding: 1%;
    font-size: 20px;
}

.navbar {
    text-align: center;
    background-color: LightBlue;
    font-family: Algerian, sans-serif;
    opacity: 0.9;
}

.card {
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    margin-top: 10%;
    margin: 50px;
    float: left;
    padding-right: 275px;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: LightBlue;
    opacity: 0.9;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

img {
    border-radius: 5px 5px 0 0;
}

.text p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lucida Console", "Courier New", monospace;
    max-width: 40%;
    margin: 50px;
    color: white;
}

.contactForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
}

form {
    display: inline-block;
    text-align: left;
    max-width: 400px;
    margin: 15px auto;
}

label {
    display: block;
    margin-bottom: 4px;
    color: white;
}

input {
    width: 100%;
    padding: 4px;
    margin-bottom: 12px;
    box-sizing: border-box;
}
