body {
    background-image: url("../images/Game_Cover.png");
    background-size: 100vw 100vh;
}

header {
    font-family: Algerian, "Courier New", sans-serif;
    text-align: center;
    margin-top: 5%;
    font-size: 30px;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    text-align: center;
    padding: 1%;
    font-size: 20px;
}

.navbar {
    text-align: center;
    background-color: LightBlue;
    font-family: Algerian, "Courier New", sans-serif;
    opacity: 0.9;
}

.card {
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    margin-top: 10%;
    margin: 50px;
    float: left;
    padding-right: 275px;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: LightBlue;
    opacity: 0.9;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

img {
    border-radius: 5px 5px 0 0;
}

.contactForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
}
.level {
    text-align: center;
    margin: 5%;
}

.level h2 {
    color: white;
    font-size: 35px;
}

.map {
    text-align: center;
    margin: 5%;
}

.map h2 {
    color: white;
    font-size: 35px;
}

.character {
    margin: 150px;
}

.character p {
    color: white;
    text-decoration: bold;
}

.character h3 {
    color: white;
    text-decoration: bold;
}

label {
    display: block;
    margin-bottom: 4px;
    color: white;
}

ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    color: white;
}
